/* common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 400;
  font-size: 1.25rem;
}
img {
  max-width: 100%;
}
/* custom style */
.banner {
  display: flex;
  background-color: black;
  align-items: center;
  color: white;
  border-radius: 15px;
  margin: 50px auto;
}

.banner h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}

.banner-left {
  padding-left: 50px;
  flex: 1;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
}

/* Upcoming matches */

.upcoming-matches {
  display: flex;

  padding: 50px 0;
  gap: 20px;
}

.upcoming-matches-left {
  background-color: black;
  /* flex-grow: 5px; */
  /* flex-basis: 700px; */
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
}

/* using pseudo position */
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}

.upcoming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.upcoming-matches-right .card {
  border: 2px solid rgb(232, 232, 232);
}
.upcoming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcoming-matches .card .card-body {
  padding: 25px;
}
.upcoming-matches-right .card .btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 10px;
  padding: 4px 15px;
  font-weight: 500;
}
.upcoming-matches-right .card h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 600px;
}

.card-bottom {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 20px;
  }

  /* banner */

  .banner h2 {
    font-size: 50px;

    line-height: 50px;
  }

  /* upcoming matches */

  .upcoming-matches {
    flex-direction: column;
  }
  .upcoming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }

  .upcoming-matches-left > * {
    flex: 1;
  }
  .upcoming-matches-left .btn {
    border: 1px solid rgb(232, 232, 232);
  }
  .upcoming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile device */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-left {
    margin-bottom: 30px;
    padding-left: 0;
    padding-top: 30px;
  }
  .banner .banner-left p {
    /* max-width: 100%; or margin */
    margin: 15px auto;
  }
  .upcoming-matches-right {
    grid-template-columns: 1fr;
  }
}
